* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner-bg {
    background-color: #faecef;

}

.banner-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.7rem;
    gap: 5rem;
}

.banner-title h3 {
    font-size: 3.2rem;
    color: #272727;
}

.banner-title p {
    font-size: 1.3rem;
    color: #272727;
    margin-top: 1.1rem;
    margin-bottom: 1.4rem;
    text-align: justify;

}

.banner-btn {
    background-color: #eb4065;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: .7rem;
    color: white;
}

.banner-btn:hover {
    color: black;
    cursor: pointer;
}

.banner-image img {
    height: 35rem;
    width: 32rem;
}

.feature-bg {
    padding: 4.7rem;

}

.feature-bg h2 {
    text-align: center;
    font-size: 2rem;
}

.feature-bg p {
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.1rem;
    color: #272727;
    margin-top: .6rem;

}

.features-flowers {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 3rem;
}

.feature-image img {
    height: 15rem;
    width: 13rem;
    padding: 2.1rem;

}

.img1 {
    background-color: #f6d8e6;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
}

.img2 {
    background-color: #daf0f1;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
}

.img3 {
    background-color: #dff0cf;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
}

.feature-image p {
    text-decoration: underline;
    margin-top: 1.2rem;
}

.hotdeal {
    background-color: #faecef;
}

.hotdeal-content {
    display: flex;
    padding: 5rem 10rem 5rem 10rem;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.hotdeal-title h2{
    font-size: 2.5rem;
    
}
.hotdeal-title span{
    color: #f02954;
}
.hotdeal-title{
    text-align: center;
    
}
.hotdeal-img img{
    height: 18rem;
    width: 14rem;
}
.hotdeal-title p{
    margin: 1.3rem;
    font-size: 1.3rem;
}
.instragram{
    padding: 4.7rem;
    
}
.instragram h2{
    text-align: center;
    font-size: 2rem;
}
.instragram p{
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.1rem;
    color: #272727;
    margin-top: .6rem;
}
.nice-img{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 3rem;
   
}.nice-img img{
    height: 18rem;
    width: 14rem;
    
}
.deals{
    padding: 4.7rem 8rem 4.7rem 8rem;
   
}
.good-deals{
    background-image: url(./images/Rectangle\ 9.png);
    text-align: center;
    padding: 5rem;
    
}
.good-deals p{
margin-top: 1rem;
margin-bottom: 1.5rem;
}
.btn2{
    background-color: #eb4065;
    padding: .6rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: .4rem;
    color: white;
    align-items: center;
    justify-content: center;
}
.input input{
    border: none;
    padding: 1rem 5rem 1rem 5rem;
}
.last-work p{
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #ece4e4;
}
.last-work span{
    color: #f02954;
}
.last-work h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
    color: white;
}
.last-work{
    background-color: #201f1f;
}
.copyright p{
   color: #828585;
   padding: 5rem;

}
.service{
    gap: 8rem;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.service img{
    height: 13rem;
    width: 13rem;
    
}
.service p{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}



